<ion-header>
  <ion-navbar>

    <button *ngIf="menuBackBtn" ion-button icon-only (click)="gotoBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>

    <!-- <button ion-button icon-only *ngIf="backAllBtn" ion-item (click)="backAll();  downloadForm = false;" class="button button-clear  ion-arrow-left-c ">
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->

    <!-- <button ion-button icon-only *ngIf="downloadDriver" ion-item (click)="downloadDriver = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;" class="button button-clear  ion-arrow-left-c ">
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->

    <!-- <ion-buttons left> -->

      <button ion-button icon-only *ngIf="backAllBtn" (click)="backAll();  downloadForm = false; " class="button button-clear  ion-arrow-left-c ">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <button ion-button icon-only *ngIf="downloadDriver" (click)="downloadDriver = false; Firmware = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false; " class="button button-clear  ion-arrow-left-c ">
        <ion-icon name="arrow-back"></ion-icon>
      </button>

      <button ion-button icon-only *ngIf="downloadFirmware" (click)="downloadFirmware = false; Firmware = true; Drivers = false; backAllBtn = true; downloadForm = false;  agreeTC = false; " class="button button-clear  ion-arrow-left-c ">
        <ion-icon name="arrow-back"></ion-icon>
      </button>


    <!-- </ion-buttons> -->

    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
      <ul class="heder-menu">
            <li>
              <ion-label hidden>Language</ion-label>
                <span class="country-flag {{countryClass}}"></span>
                <ion-select [selectOptions]="selectOptions" [(ngModel)]="countryName" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                    <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
                  </ion-select>
            </li>
            <li>
              <a class="top-register-link" (click)="pushRegister()">Register</a>
            </li>
          </ul>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-grid class="banner-parent">
  <ion-row>
      <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <div class="banner-image">
          <a class="change-model" (click)="pushHome()">Change Model </a>
            <img width="100%"  src="http://124.30.44.230/funaihelpver1/{{ modelPic}}" class="img-responsive" alt=""/>
          </div>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="tab-section-parent">
  <div class="tab-section">
     <a class="button active" role="tab">
      <span class="tab-button-text">Downloads</span>
    </a>
    <a class="button" (click)="gotoTrob()" role="tab">
     <span class="tab-button-text">Troubleshooting</span>
   </a>
  </div>
</ion-grid>


<ul class="custome-list download-space">
  <!-- <li *ngIf="backAllBtn" class="download-back"><button ion-item (click)="backAll();  downloadForm = false;" class="button button-clear  ion-arrow-left-c "> Back</button></li> -->
  <!-- <li *ngIf="all || Manual" (click)="subOpt($event)" class="Manual">
    <div class="img-circle">
      <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star" style="color: #ffc125; transform: scale(3); transform-origin: -2vw -0.5vh;"></ion-icon>
    </div>
    Manual and Quick Setup Guide
  </li> -->
  <li *ngIf="all || Drivers" (click)="subOpt($event, downloadH1)" [class.active]="Drivers==true" class="Drivers">
    <div class="img-circle"></div>
    {{downloadH1}}
  </li>
  <li *ngIf="all || Firmware" (click)="subOpt($event, downloadH2)" [class.active]="Firmware==true" class="Firmware">
    <div class="img-circle"></div>
    {{downloadH2}}
  </li>
  <li *ngIf="all || Manual" (click)="subOpt($event, downloadH3)" [class.active]="Manual==true" class="Manual">
    <div class="img-circle"></div>
    {{downloadH3}}
  </li>
  <li *ngIf="!quick_craft_Guide" (click)="subOpt($event, downloadH6)" [class.active]="quick_craft_Guide==false && Guide==true" class="quick_craft_Guide">
    <div class="img-circle"></div>
    {{downloadH6}}
  </li>
  <li *ngIf="all || Connect" (click)="subOpt($event, downloadH4)" [class.active]="Connect==true" class="Connect">
    <div class="img-circle"></div>
    {{downloadH4}}
  </li>
  <li *ngIf="all || Download" (click)="subOpt($event, downloadH5)" [class.active]="Download==true" class="Download">
    <div class="img-circle"></div>
    {{downloadH5}}
  </li>
  <!-- <li *ngIf="all || Download" (click)="subOpt($event)" class="Download">
    <div class="img-circle">
      <ion-icon ios="ios-star" class="icon-ios-bright" md="md-star" style="color: #ffc125; transform: scale(3); transform-origin: -2vw -0.5vh;"></ion-icon>
    </div>
    Download Warranty @Safety Sheets
  </li> -->
  </ul>


<ul class="custome-list sub-tabs manual-quick row">
  <li *ngIf="Drivers" class="row">
    <!-- <div class="img-circle">
      <ion-icon name="star"></ion-icon>
    </div> -->
    <ul class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <li class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12" *ngFor="let os of OSTypes ; index as i" (click)="downloadDetails(os.osId,'drivers'); downloadDriver = true; Drivers = false; backAllBtn = false; downloadForm = true; agreeTC = true;">

          {{ os.title }}

      </li>
      <!-- <li *ngIf="backAllBtn"><button ion-item (click)="Drivers = false" class="button button-clear  ion-arrow-left-c "> Back</button></li> -->
    </ul>
<!-- nj -->
  </li>
  <li *ngIf="Firmware" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <!-- <div class="img-circle">
      <ion-icon name="star"></ion-icon>
    </div> -->
    <ul  class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <li class="row" *ngFor="let os of OSTypes ; index as i" (click)="downloadFirmwareFunction(os.osId,'firmwares'); downloadFirmware = true; Firmware = false; backAllBtn = false; downloadForm = true; agreeTC = true;">

          {{ os.title }}

      </li>
    </ul>
  </li>
  <!-- <li [hidden]="quick_craft == ''" *ngIf="Guide" class="col-12 col-xs-12 col-sm-12">
  <a href="http://www.funaihelp.com/media/uploads/{{ quick_craft}}" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="img-circle">
    </div>
    Quick Craft Guide
  </a>
  </li> -->
  <li *ngIf="Guide " class="col-12 col-xs-12 col-sm-12">
  <a href="http://www.funaihelp.com/media/uploads/{{ quick_craft}}" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="img-circle">
    </div>
    {{ downloadH6 }}
  </a>
  </li>
  <!-- [hidden]="quick_craft_Guide == false" -->
  <li *ngIf="Manual" class="col-12 col-xs-12 col-sm-12">
  <a href="http://www.funaihelp.com/media/uploads/{{ ownersManual}}" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Owners Manual -->
    {{ downloadSub1 }}
  </a>
  </li>
  <li *ngIf="Manual" class="col-12 col-xs-12 col-sm-12">
  <a href="http://www.funaihelp.com/media/uploads/{{ quickstartGuide}}" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Quickstart Guide -->
      {{ downloadSub2 }}
    </a>
  </li>
  <li class="download-app" *ngIf="Connect && deviceIs == 'Android'" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="{{android_url}}">
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Download the Android App -->
      <span>{{ downloadSub3 }}</span>
    </a>
    <p float-right text-center class="supportPrinter"><ion-icon name="checkmark" ios="ios-checkmark" md="md-checkmark" class="tickmark"></ion-icon>Your device is supported <br><span class="small" color="yellowish" (click)="showDevicelist()">Show all supported devices</span></p>
    <!-- <div col-12>
      <ion-item hidden>
        <p [innerHTML]="supported_deviceList"></p>
      </ion-item>
    </div> -->
  </li>
  <li *ngIf="Connect && deviceIs == 'iphone'" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="{{ios_url}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <span>{{ downloadSub4 }}</span>
    </a>
    <p float-right text-center class="supportPrinter"><ion-icon name="checkmark" ios="ios-checkmark" md="md-checkmark" class="tickmark"></ion-icon>Your device <br>is supported <br><span class="small" color="yellowish" (click)="showDevicelist()">Show all supported devices</span></p>
        <!-- Download the iphone App -->
  </li>
  <li *ngIf="Connect" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="{{AirPrintUrl}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Learn About AirPrint -->
      {{ downloadSub5 }}
    </a>
  </li>
  <li *ngIf="Connect" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="{{GoogleCloud}}" col>
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Learn About Google Cloud Print -->
      {{ downloadSub6 }}
    </a>
  </li>
  <li *ngIf="Download" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <a href="http://www.funaihelp.com/media/uploads/{{ WarrantySafety}}" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
    <div class="img-circle">
      <!-- <ion-icon name="star"></ion-icon> -->
    </div>
      <!-- Download Warranty & Safety Sheets -->
      {{ downloadSub7 }}
    </a>
  </li>
</ul>

<ion-grid *ngIf="downloadForm" class="downloadForm" margin-0>

  <ion-col class="breadcrumb_base">
    <ul class="breadcrumb">
      <!-- <li><a href="#" (click)="pushHome()">Home</a></li>
      <li><a href="#" (click)="pushCategory()">Category</a></li> -->

      <!-- <li *ngIf="downloadDriver"><a href="#" (click)="downloadDriver = false; Firmware = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;">Drivers</a></li>
      <li *ngIf="downloadFirmware"><a href="#" (click)="downloadFirmware = false; Firmware = true; Drivers = false; backAllBtn = true; downloadForm = false;  agreeTC = false;">Firmwares</a></li> -->

      <!-- <li *ngIf="downloadFirmware"><a href="#" (click)="downloadFirmware = false; Firmware = true; Drivers = false; backAllBtn = true; downloadForm = false;  agreeTC = false;">Firmwares</a></li> -->
      <li *ngIf="downloadDriver">{{ title_1 }}</li>
      <li *ngIf="downloadFirmware">{{ title_1 }}</li>
      <li *ngIf="downloadDriver || downloadFirmware" [hidden]="os_name == ''">{{os_name}}</li>
    </ul>
  </ion-col>

  <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 >
    <ion-list>
      <ion-col *ngIf="downloadDriver" class="col-12 col-xs-12 col-sm-12">
      <p *ngIf="downloadDriver" [innerHTML]="downloadTypes"></p>
      <p>Provide details for us to send you Driver/Firmware downloading instructions.</p>
    </ion-col>
<!-- </ion-grid> -->

<!-- <ion-grid *ngIf="downloadFirmware"> -->
    <ion-col *ngIf="downloadFirmware" class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <!-- <button *ngIf="downloadFirmware" ion-item (click)="downloadFirmware = false; Firmware = true; backAllBtn = true; downloadForm = false; agreeTC = false;" class="button button-clear  ion-arrow-left-c "> Change Firmware OS</button> -->
      <!-- <p *ngIf="downloadDriver" [innerHTML]="downloadTypes"></p> -->
      <p *ngIf="download_form" [innerHTML]="downloadTypes"></p>
      <p *ngIf="!download_form" class="alert alert-danger" role="alert">{{downloadTypes}}</p>
      <p>Provide details for us to send you Driver/Firmware downloading instructions.</p>

      <!-- <br>
      <p *ngIf="downloadFirmware">{{ downloadTypes }}</p> -->
    </ion-col>

    <ion-col *ngIf="downloadForm" class="col-12 col-xs-12 col-sm-12 " margin-0>
      <!-- <div *ngFor="let item of getFile_path">
        Name : {{ item.f_path }}
      </div> -->



  <form *ngIf="downloadFirmware && download_form" class="row downloadForm" [formGroup]="registerForm" (ngSubmit)="SubmitDownloadMail(os_name, getFile_path['f_desc'], description, version_name, download_type, getFile_path['f_path'])">
      <ion-input type="hidden" name="F_download_type" value="{{ download_type }}"></ion-input>
         <!-- <ion-input type="hidden" name="F_download_files" value="{{ download_files }}"></ion-input> -->
         <!-- downloadFirmware <br>

         os_name - {{os_name}} <br>
         description - {{description}} <br>
         version_name - {{version_name}} <br>
         download_type - {{download_type}} <br>
         Download_path - {{Download_path['f_path']}} <br> -->

 <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
   <!-- <ion-item> -->
     <div class="form-group"
     [ngClass]="{
    'has-danger': firstName.invalid && firstName.dirty,
    'has-success': firstName.valid && (firstName.dirty || firstName.touched)
  }">
     <ion-label color="dark">Name</ion-label>
     <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="Your Name" autocomplete="off">
     <!-- <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name"> -->
     <!-- <div col class="form-alert" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"> -->
     <div col class="form-alert" *ngIf="firstName.errors && firstName.dirty">

       <!-- <p *ngIf="firstName.errors.required">Your Name is required</p> -->
       <p *ngIf="firstName.errors.pattern">Your Name is required (Min 4 characters & Only alphabets allowed)</p>
       <!-- <p *ngIf="firstName.errors.minlength">Your Name is required (Min 4 characters)</p>       -->
     </div>
     </div>
 </div>

 <div  class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
   <div class="form-group"
   [ngClass]="{
   'has-danger': emailAddress.invalid && emailAddress.dirty,
   'has-success': emailAddress.valid && (emailAddress.dirty || emailAddress.touched)
   }">
   <ion-label color="dark">E-mail</ion-label>
   <input type="text" formControlName="emailAddress" name="emailAddress" class="form-control custom-form-control" required placeholder="Your E-mail" autocomplete="on">
   <!-- <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name"> -->
   <!-- <div col class="form-alert" *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)">
     <p *ngIf="emailAddress.errors.required">Email Address is required</p>
     <p *ngIf="emailAddress.errors.pattern">Email format should be <small><b>joe@abc.com</b></small></p>
   </div> -->

   <div col class="form-alert" *ngIf="emailAddress.errors && emailAddress.dirty">
     <!-- <p *ngIf="emailAddress.errors.required">Email Address is required</p> -->
     <p *ngIf="emailAddress.errors.pattern">Email Address is required (Email format should be <small><b>joe@abc.com</b></small>)</p>
   </div>

   </div>
 </div>

 <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" id="sucessMessage">
   <!-- <h5>{{ sucessMessage }}</h5> -->
 </div>
 <div  class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
   <button ion-button type="submit" [disabled]="!registerForm.valid" class="registerBtn" color="yellowish" col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 >Submit</button>
 </div>
</form>


      <form *ngIf="downloadDriver" class="row downloadForm" [formGroup]="registerForm" (ngSubmit)="SubmitDownloadMail(os_name, description, version_name, download_type, getFile_path['f_path'])">
        <ion-input type="hidden" name="F_download_type" value="{{ download_type }}"></ion-input>
        <!-- <ion-input type="hidden" name="F_download_files" value="{{ download_files }}"></ion-input> -->
        <!-- downloadDriver <br>

        os_name - {{os_name}} <br>
        description - {{description}} <br>
        version_name - {{version_name}} <br>
        download_type - {{download_type}} <br>
        Download_path - {{Download_path['f_path']}} <br> -->

<div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <!-- <ion-item> -->
    <div class="form-group"
    [ngClass]="{
   'has-danger': firstName.invalid && firstName.dirty,
   'has-success': firstName.valid && (firstName.dirty || firstName.touched)
 }">
    <ion-label color="dark">Name</ion-label>
    <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="Your Name" autocomplete="off">
    <!-- <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name"> -->
    <!-- <div col class="form-alert" *ngIf="firstName.errors && (firstName.dirty || firstName.touched)"> -->
    <div col class="form-alert" *ngIf="firstName.errors && firstName.dirty">

      <!-- <p *ngIf="firstName.errors.required">Your Name is required</p> -->
      <p *ngIf="firstName.errors.pattern">Your Name is required (Min 4 characters & Only alphabets allowed)</p>
      <!-- <p *ngIf="firstName.errors.minlength">Your Name is required (Min 4 characters)</p>       -->
    </div>
    </div>
</div>

<div  class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
  <div class="form-group"
  [ngClass]="{
  'has-danger': emailAddress.invalid && emailAddress.dirty,
  'has-success': emailAddress.valid && (emailAddress.dirty || emailAddress.touched)
  }">
  <ion-label color="dark">E-mail</ion-label>
  <input type="text" formControlName="emailAddress" name="emailAddress" class="form-control custom-form-control" required placeholder="Your E-mail" autocomplete="on">
  <!-- <input type="text" formControlName="firstName" name="firstName" class="form-control custom-form-control" required placeholder="First Name"> -->
  <!-- <div col class="form-alert" *ngIf="emailAddress.errors && (emailAddress.dirty || emailAddress.touched)">
    <p *ngIf="emailAddress.errors.required">Email Address is required</p>
    <p *ngIf="emailAddress.errors.pattern">Email format should be <small><b>joe@abc.com</b></small></p>
  </div> -->

  <div col class="form-alert" *ngIf="emailAddress.errors && emailAddress.dirty">
    <!-- <p *ngIf="emailAddress.errors.required">Email Address is required</p> -->
    <p *ngIf="emailAddress.errors.pattern">Email Address is required (Email format should be <small><b>joe@abc.com</b></small>)</p>
  </div>

  </div>
</div>

    <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 text-center" id="sucessMessage">
      <!-- <h5>{{ sucessMessage }}</h5> -->
    </div>
    <div  class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <button ion-button type="submit" [disabled]="!registerForm.valid" class="registerBtn" color="yellowish" col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 >Submit</button>
    </div>
  </form>

  <div *ngIf="agreeTC && !Connect && !Download && !Manual && download_form" class="" class="agreeTC col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 m-bottom-0">
    <div class="row termsTxt">By downloading you agree to our &nbsp;<span (click)="showAlert()">TERMS OF USE</span></div>
  </div>

</ion-col>


  </ion-list>
</ion-col>
</ion-grid>
<ion-grid>

  <!-- <span (click)="pushHome()">Home</span>
  <span (click)="pushCategory()"> - > Category Selection</span> -->
  <!-- <span *ngIf="downloadDriver" (click)="downloadDriver = false; Firmware = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;" class="Drivers"> - > Drivers </span> -->
  </ion-grid>

  <!-- <ion-grid class="breadcrumb_base">
    <ul class="breadcrumb">
      <li *ngIf="downloadDriver"><a href="#" (click)="downloadDriver = false; Firmware = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;">{{ title_1 }}</a></li>
      <li *ngIf="downloadFirmware"><a href="#" (click)="downloadFirmware = false; Firmware = true; Drivers = false; backAllBtn = true; downloadForm = false;  agreeTC = false;">{{ title_1 }}</a></li>
      <li *ngIf="downloadDriver || downloadFirmware" [hidden]="os_name == ''">{{os_name}}</li>
    </ul>
  </ion-grid> -->

  <ion-grid class="breadcrumb_base">
    <ul class="breadcrumb">
      <!-- <li><a href="#" (click)="pushHome()">Home</a></li>
      <li><a href="#" (click)="pushCategory()">Category</a></li> -->

      <!-- <li *ngIf="downloadDriver"><a href="#" (click)="downloadDriver = false; Firmware = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;">Drivers</a></li>
      <li *ngIf="downloadFirmware"><a href="#" (click)="downloadFirmware = false; Firmware = true; Drivers = false; backAllBtn = true; downloadForm = false;  agreeTC = false;">Firmwares</a></li> -->

      <!-- <li *ngIf="downloadFirmware"><a href="#" (click)="downloadFirmware = false; Firmware = true; Drivers = false; backAllBtn = true; downloadForm = false;  agreeTC = false;">Firmwares</a></li> -->
      <li *ngIf="downloadDriver">{{ title_1 }}</li>
      <li *ngIf="downloadFirmware">{{ title_1 }}</li>
      <li *ngIf="downloadDriver || downloadFirmware" [hidden]="os_name == ''">{{os_name}}</li>
    </ul>
  </ion-grid>

</ion-content>
