<ion-header>
  <ion-navbar>
    <!-- <button ion-button icon-only (click)="gotoBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button> -->
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
        <ul class="heder-menu">
          <li>
            <ion-label hidden>Language</ion-label>
            <span class="country-flag {{countryClass}}"></span>

            <ion-select title="Language" [selectOptions]="selectOptions" [(ngModel)]="countryName" (ionChange)="setLang($event)" style="max-width: unset; padding: 0;">
              <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
            </ion-select>
          <!-- </ion-item> -->
          </li>
          <li><a class="top-register-link" (click)="pushRegister()">Register</a></li>
        </ul>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-grid class="breadcrumb_base">
    <ul class="breadcrumb">
      <!-- <li><a href="#" (click)="gotoBack()">{{parent_Title3}}</a></li> -->
      <li>{{parent_Title3}}</li>
      <li>{{new_title3}}</li>
      <li>Video</li>
    </ul>
  </ion-grid>

  <!-- <ion-list>
   <ion-item *ngFor="let vl of videoList">
      <ion-col col-6><img src = "{{vl.v_poster}}"></ion-col>
      <ion-col col-6><h4>{{ vl.v_title }}</h4></ion-col>
   </ion-item>
 </ion-list> -->


 <ion-list class="row videoList">
  <ion-item *ngFor="let vl of videoList ">
    <div align="center" class="embed-responsive embed-responsive-4by3">
      <video id="video_play" class="embed-responsive-item" controls="" preload="none" poster="{{vl.v_poster}}" title="HGS_Install_InkCartridges">
        <source src="{{ vl.v_path }}" type="video/mp4">
      </video>
    </div>
    <h4 class="text-center">{{ vl.v_title }}</h4>
  </ion-item>
</ion-list>
  <!-- <video id="video_play" class="video-js vjs-default-skin singleVideo" controls="" preload="none" title="HGS_Install_InkCartridges" poster="http://www.funaihelp.com/media/uploads/videos/2/HGS_Install_InkCartridges.png" data-setup="{" video_play_option":true}"="">
    <source src="http://www.funaihelp.com/media/uploads/videos/2/HGS_Install_InkCartridges.mp4" type="video/mp4">
  </video> -->

</ion-content>
