.trade-mark-footer{background:#000000;padding: 0 5px;}
.trade-mark-footer .trade-mark-img{float: left;
    width: 38%;
    margin-right: 2%;
  }
.trade-mark-footer .trade-mark-txt{color: #ffb834; float: left;width:60%; font-size: 11px;}
.toll-txt{color: #ffb834; font-size: 12px}
.toll-no{color: #fff;font-size: 12px}
.hours-txt-footer{background: #333232; padding:0 5px; font-size: 12px; font-weight: normal;}
.hours-txt-footer .hours-oper-txt{color: #ffb834;}
.hours-txt-footer .hours-txt{color: #fff}
.scroll-content {margin-bottom:80px;}


/* .my-overlay{position: absolute; z-index: 11; background:rgba(0,0,0,0.7); width: 100%; height:100%; top:0px; bottom:0px; }
.my-overlay .overlay-container{z-index: 111; background:#fff;  width: 90%; margin:0 auto; border:5px solid #ffb834; top:20%; } */
.my-overlay{position: fixed; padding: 0 !important; z-index: 11; background:rgba(0,0,0,0.7); width: 100%; height:100%; top:0px; bottom:0px; }
.my-overlay .overlay-container{ position: absolute; z-index: 111; background:#fff;  width: 90%; margin:0 auto; border:5px solid #ffb834; top:50%; left: 50%; transform: translate(-50%, -50%); }

.my-overlay .overlay-container .overlay-header{background:#000; color:#cab080; padding:15px; font-size: 18px;}
.my-overlay .overlay-inner{padding:15px; overflow-x: auto; max-height: 400px; }
.my-overlay .closeBtn{background:#ffb834; color:#fff; font-weight: bold; border-radius:100%;
  /* top: 10px; right: 26px; padding: 5px 10px; */
}
.my-overlay .closeBtn{
  top: -14px;
  right: -14px;
  padding: 1px 8px;
  position: absolute;
}
.my-overlay .overlay-inner h2{font-size: 18px;}




@media (min-width: 600px) {
    .trade-mark-footer .trade-mark-img{ width: 110px;float:left;}
    .trade-mark-footer .trade-mark-txt{float: none; width: 100%;}
}

@media (max-width: 375px) {
    .trade-mark-footer .trade-mark-img{float: none; text-align: center; width: 100%}
    .trade-mark-footer .trade-mark-txt{clear: both; padding: 0 10px;  text-align: center;width: 100%}
    .toll-txt{font-size: 11px;}
    .hours-txt-footer .hours-txt {font-size: 11px;}
}
@media (max-width: 320px) {
    .scroll-content {margin-bottom:100px;}
}
/* .tabs-content{display: contents;}
page-tabs .img-circle{float: left;} */

.testTab{
  padding: 10px;
/* display: -webkit-box; */
/* display: -webkit-flex; */
display: -ms-flexbox;
display: flex;
border-bottom: 1px solid #ededed;
-ms-flex-align: center;
-webkit-align-items: center;
-webkit-box-align: center;
align-items: center;
}

.sub-tabs p{ width: 100%;}

.footer .toolbar-background-md { background: transparent; border: none; }
.footer .grid { padding: 0 5px; }
.footer .toolbar-md { padding: 0 4px; }

.select_lang.item-ios .select-icon{opacity: 0;}
.select_lang.item-ios .item-inner{border: none !important;}

.select_lang.item-md, .select_lang.item-ios{
  background-color:inherit !important;
      font-size: 1.3rem;
          min-height: 3.0rem; padding-left: 0;
}
.select_lang.item-md.item-block .item-inner, .select_lang.item-ios.item-block .item-inner {border: none !important;}
.select_lang .select-md .select-icon, .select_lang.item-ios .select-icon {opacity: 0;}
.select_lang .select-text, .select_lang.item-ios .select-text { overflow: visible !important;}

/*.toolbar-content-ios .col-ios-8{padding: 0; float:left;}
.toolbar-content-ios .col-ios-4{padding: 0; float:left;}
.content-ios .catbox-bg [col-xs-3]{padding: 0px !important;}*/
page-category-selection .content-ios .catbox-bg{    margin-bottom: 30px;}
page-category-selection .content-ios .catbox-bg .grid:last-child{    border-bottom: none;}
.tabs-ios .custome-list li
{
    align-items: inherit !important;
    line-height: 50px;
}
/*page-download ul.custome-list.sub-tabs a {
    display: inline-flex !important;
}*/
.tabs-ios .custome-list li a
{
    align-items: inherit !important;
    line-height: 50px;
    display: inline-flex !important;
}
.tabs-ios .custome-list .sub-tabs p{    line-height: 30px;}

.ios page-download .custome-list li
{
    align-items: inherit !important;
    /* line-height: 50px; */
    line-height: 45px;
}
/*page-download ul.custome-list.sub-tabs a {
    display: inline-flex !important;
}*/
.ios page-download .custome-list li a
{
    align-items: inherit !important;
    line-height: 45px;
    display: inline-flex !important;
}

.ios ion-footer .toolbar{padding-bottom: 0; padding-top: 0;}
.back-button-text-ios{display: none; }

page-footer .toolbar-md { padding: 0 4px; }
page-footer .grid { padding: 0 5px; }
page-footer .toolbar-background-md { background: transparent; border: none; }

page-tabs .img-circle { width: 40px; height: 40px; }
.Drivers .img-circle {
  background: url(../../assets/icon/printer-icon.jpg) no-repeat center;
  background-size: 65%;
}
.Firmware .img-circle {
  background: url(../../assets/icon/hard-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}

.Manual .img-circle {
  background: url(../../assets/icon/setUp-icon.jpg) no-repeat center;
  background-size: 65%;
}
.Guide .img-circle {
  background: url(../../assets/icon/setUp-icon.jpg) no-repeat center;
  background-size: 65%;
}
.Connect .img-circle {
  background: url(../../assets/icon/connect-ur-mobile-icon.jpg) no-repeat center;
  background-size: 65%;
}
.Download .img-circle {
  background: url(../../assets/icon/warrenty-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(1) .img-circle {
  background: url(../../assets/icon/printer-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(2) .img-circle {
  background: url(../../assets/icon/hard-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(3) .img-circle {
  background: url(../../assets/icon/soft-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(4) .img-circle {
  background: url(../../assets/icon/mobile-icon.jpg) no-repeat center;
  background-size: 45%;
}
.troubleshoot li:nth-child(5) .img-circle {
  background: url(../../assets/icon/troubleshoot.png) no-repeat center;
  background-size: 115%;
}
.troubleshoot li:nth-child(6) .img-circle {
  background: url(../../assets/icon/soft-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
.troubleshoot li:nth-child(7) .img-circle {
  background: url(../../assets/icon/mobile-icon.jpg) no-repeat center;
  background-size: 45%;
}
.troubleshoot li:nth-child(8) .img-circle {
  background: url(../../assets/icon/troubleshoot-icon.jpg) no-repeat center;
  background-size: 65%;
}



page-troubleshoot-2 .printer-setup li:nth-child(1) .img-circle {
  background: url(../../assets/icon/printer-icon.jpg) no-repeat center;
  background-size: 65%;
}
page-troubleshoot-2 .printer-setup li:nth-child(2) .img-circle {
  background: url(../../assets/icon/hard-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
page-troubleshoot-2 .printer-setup li:nth-child(3) .img-circle {
  background: url(../../assets/icon/soft-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
page-troubleshoot-2 .printer-setup li:nth-child(4) .img-circle {
  background: url(../../assets/icon/mobile-icon.jpg) no-repeat center;
  background-size: 45%;
}
page-troubleshoot-2 .printer-setup li:nth-child(5) .img-circle {
  background: url(../../assets/icon/troubleshoot.png) no-repeat center;
  background-size: 115%;
}
page-troubleshoot-2 .printer-setup li:nth-child(6) .img-circle {
  background: url(../../assets/icon/soft-ware-icon.jpg) no-repeat center;
  background-size: 65%;
}
page-troubleshoot-2 .printer-setup li:nth-child(7) .img-circle {
  background: url(../../assets/icon/mobile-icon.jpg) no-repeat center;
  background-size: 45%;
}
page-troubleshoot-2 .printer-setup li:nth-child(8) .img-circle {
  background: url(../../assets/icon/troubleshoot-icon.jpg) no-repeat center;
  background-size: 65%;
}


.sub_level_4 li .img-circle.faqstatus {
  background: url(../../assets/icon/faq-icon.jpg) no-repeat center;
  background-size: 65%;
}
.sub_level_4 li .img-circle.achatstatus {
  background: url(../../assets/icon/assisted-chat-icon.jpg) no-repeat center;
  background-size: 65%;
}
.sub_level_4 li .img-circle.driverstatus {
  background: url(../../assets/icon/drives-software-icon.jpg) no-repeat center;
  background-size: 65%;
}
.sub_level_4 li .img-circle.vchatstatus {
  background: url(../../assets/icon/call-icon.jpg) no-repeat center;
  background-size: 65%;
}
.sub_level_4 li .img-circle.videostatus {
  background: url(../../assets/icon/video-icon.jpg) no-repeat center;
  background-size: 65%;
}

ion-app.md [padding] .scroll-content {
    padding: 16px;
    /* overflow: visible; */
}
.manual-quick a { display: flex; align-items: center }
.manual-quick .img-circle {
  background: url(../../assets/icon/pdf-icon.jpg) no-repeat center;
  background-size: 55%; display: inline-block; transform: scale(.8);
  margin-right: 3px;
}
.download-app { position: relative; }
.download-app > a { width: 100%; }
.supportPrinter { position: absolute; top: 50%; right: 20px; transform: translateY(-50%); width: 34% !important; font-size: 10px;}

.download-app { display: flex; justify-content: space-between; }

.scroll-content .ion-page{background:#fff;}
.heder-menu{ float: right; list-style: none; margin:0px; padding: 3px 0px 3px 0; position: absolute; right: 0;}
.heder-menu li{list-style: none; margin:0px; padding: 0px; display: inline-block; border-right:1px solid #000; position: relative;}
.heder-menu li:last-child{border:none;}
.heder-menu li .select-text{font-size: 12px;font-weight:normal; color:#000; }
.heder-menu li .select-ios .select-icon .select-icon-inner, .heder-menu li .select-md .select-icon .select-icon-inner{border:0px;}
.heder-menu .select-ios .select-icon{width:5px;}
.heder-menu .item-cover{background:none;}
.heder-menu .select-md .select-icon{width:6px;}
.top-register-link{color:#000;font-size: 12px; font-weight:normal; padding:0 0 0 16px; position: relative; margin-right:0px; text-transform:uppercase}
.top-register-link:before{content:''; width:15px; height:15px; display:block; background:url('../../assets/imgs/register-icon.png') no-repeat  center left; background-size: contain; position: absolute; top:-1px; left:0px;}
.home-txt{background:#000;  border-top:2px solid #ffb834; padding:10px 0; position: relative; z-index: 999; margin-bottom: 10px;}
.home-txt:before{background:url('../../assets/imgs/title-bottom-border.png') no-repeat center; background-size:contain; content:""; width:100%;  height:9px; bottom:-9px; display:block; position: absolute; z-index: 9;}
.home-txt h2{color:#ffb834; text-align: center; margin:0; padding:0px; font-weight: normal; text-transform: uppercase; font-size:24px;}
page-download ul.custome-list.sub-tabs a{ display: contents; padding-left: 0; padding-right: 0;}

/* .lang-menu li{
      font-size: 1.2rem;
      display: none;
}
.lang-menu li:first-child
{
  display: block !important;
}
.lang-menu.activeAll li{
  display: block !important;
} */


.sub-header{position: relative; top: 0px;z-index: 999;}
.banner-image{width: 100%; margin-bottom:10px;}
.sub-header{border-bottom:1px solid #eeeeee; padding:10px 20px;}
.change-model{float:right; color:#000; text-decoration: underline;}
.heder-menu select{background:none; border:none; font-size: 12px; font-weight: normal}
.heder-menu select:selected{text-align: right}

.country-flag {padding-left:20px; display: inline-block; height:12px; width: 14px; background-size:contain; position: absolute; left: -26px; top:2px;}
.country-flag.america{ background:url('../../assets/imgs/flag-us.png') no-repeat center;}
.country-flag.us{ background:url('../../assets/imgs/flag-us.png') no-repeat center;}
.country-flag.canada{ background:url('../../assets/imgs/flag-canada.png') no-repeat center;}
.country-flag.uk{ background:url('../../assets/imgs/flag-uk.png') no-repeat center;}


/* .back-button.show-back-button{display: none;}
page-category-selection .back-button.show-back-button{display: inline-block;} */
page-download .back-button.show-back-button, page-troubleshoot .back-button.show-back-button,
page-troubleshoot-2 .back-button.show-back-button, page-troubleshoot-3 .back-button.show-back-button{display: none;}
page-download .toolbar-content .back-button.show-back-button, page-troubleshoot .toolbar-content .back-button.show-back-button,
page-troubleshoot-2 .toolbar-content .back-button.show-back-button, page-troubleshoot-3 .toolbar-content .back-button.show-back-button{display: inline-block;}

.agreeTC .item.item-md .checkbox-md{margin-right: 8px !important; margin-left: -4px;}
page-download .agreeTC ion-label{ color: #000 !important; text-align: left !important; font-weight: 400 !important;}
.checkbox-md-whitish .checkbox-checked .checkbox-inner {
    border-color: #ffb834;
}
.agreeTC .checkbox-md .checkbox-icon{ transform: scale(1.3); border-width: 1px !important;}
.agreeTC .checkbox-md-whitish .checkbox-checked { border-color: #3a3a3a;transform: scale(1.2); border-width: 1px !important; }
.downloadForm .form-alert p{ color: #e91e63;}
.downloadForm .form-group { margin-bottom: 0;}
.downloadForm .label{ display: none; color: #000000 !important;font-size: 12px; text-transform: uppercase;}
.logo-img{position: relative; widows: 78%}

.extra-space{width:100%; display: block; position: relative; top: -14px;}
.troubleshoot-space{
  /* margin-top:60px !important;  */
  clear:both;}
page-troubleshoot .troubleshoot-space{margin-top:30px !important;}
.troubleshoot3-space{clear:both; position: relative; top: 20px;}
.troubleshoot2-space{clear:both; position: relative; top: 20px;}

.download-space{margin-top:40px !important; clear:both;}
.download-back{margin-top: -12px;  clear:both;}
.bar-button-menutoggle-md ion-icon { font-size: 3.2rem;}

li.download-app a{display: -webkit-box;
    display: inherit !important;}

li.download-app a span{    width: 200px;
    align-items: center;
    display: flex;}
li.download-app p.supportPrinter span{ color: orange;}


.logo-img {
    max-width: 70%;
    float: left;
}
.bar-button-menutoggle-md {
    margin: 0 4px;
    min-width: 40px;
}
.country-flag {
    left: -24px;
}

.download-back .item-md, .troubleshoot2-space .item-md, .troubleshoot3-space .item-md { margin-top: 15px; color: #000; background-color: #fff;}
.custome-list.download-space .download-back button, .troubleshoot2-space button{ padding-left:0 !important;}
.custome-list.download-space .download-back button .item-inner, .troubleshoot2-space button .item-inner { padding-right:0 !important;}
.custome-list.download-space li:nth-child(2)
{
  /*background: #fff; position: relative; border: none;*/
}
.custome-list.download-space li.active:nth-child(2)
{
  background: #fff; position: relative; border: none;
}
page-tabs .custome-list li.active
{
  background: #fff; position: relative; border: none;
}
page-tabs .custome-list li.active::before {
    content: '';
    position: absolute;
    left: 6%;
    bottom: -8px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
}
.custome-list.download-space li:nth-child(2)::before
{
  content: '';
  position: absolute;
  left: 6%;
  bottom: -8px;
  /* width: 50px;
  height: 50px;
  background: #ccc; */

width: 0;
height: 0;
border-left: 15px solid transparent;
border-right: 15px solid transparent;
border-top: 15px solid #fff;
}

.custome-list.sub-tabs.troubleshoot3-space li:nth-child(1)
{
  background: #fff; position: relative; border: none;
}
.custome-list.sub-tabs.troubleshoot3-space li:nth-child(1)::before
{
  content: '';
    position: absolute;
    left: 6%;
    bottom: -8px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
}

page-home [col-6]:last-child{ margin-bottom: 20px;}

li.download-app a{width: 60%;}
.download-app .img-circle{ width: 75px;}

.menu-inner .item-md{
  background-color: #fff;
border-bottom: #ccc solid 1px;
}


.button.item-md, .item-md { background-color: #fff !important;}
ion-icon.tickmark{
    transform: none !important;
}
ion-icon.tickmark:before {
    color: green;
    font-size: 16px;
    font-weight: bold;
}
.ion-ios-checkmark, ion-icon.tickmark{
    position: relative;
    left: -10px;
    top: 8px;
    display: inline;
}
.ion-ios-checkmark:before{
    font-size: 24px !important;
}
p.supportPrinter span{
  color: orange;
  padding: 10px 0;
}
.content-ios p.supportPrinter {
  line-height: normal !important;
  margin: 0;
}


.scroll-content {
    margin-bottom: 50px !important;
}
.register-form{
    margin-bottom: 40px;
}

.downloadForm .col-xs-12 {
    margin-bottom: 15px;
}

@media screen and (max-width:320px){
  .country-flag { display: none; }
  .logo-img { width: 60%; }
}

@media screen and (max-width:360px){
  /* .country-flag { display: none; } */
  .logo-img { width: 60%; }
}
@media screen and (max-width:568px){
  .hours-txt-footer { font-size: 10px; }
}

button.item-ios:not([detail-none]) .item-inner { background: none; }
.faqs-container .question, .faqs-container .answer { font-size: 12px; }
.faqs-container h1 { font-size: 14px; margin-top: 0; }

page-download .custome-list.troubleshoot3-space li, page-troubleshoot .custome-list.troubleshoot3-space li { padding: 15px 10px !important;}



.troubleshoot3-space .back_btn{
  padding-left: 0;
  margin-left: 0;
  border-bottom: 1px solid #dedede;
}
.back_btn_icon{ margin-left: 8px;}
.padding_16_0{padding: 0 0 16px 0;}
.padding_16_0 .back_btn{    margin-top: 0;}

/* .hide-footer .footer{ display: none;} */
.hide-footer .footer .trade-mark-footer{ display: none;}
.hide-footer .footer ion-icon, .arrow-up, .arrow-down{    color: #fff;}
.footer ion-icon{ font-size: 2rem !important; line-height: 0.8 !important;}
.footer ion-icon, .arrow-down{ position: absolute; right: 2px; bottom: 0; padding: 5px;}

.arrow-up{display: none;}
.hide-footer .footer .arrow-up{display: block;}
.arrow-down{display: block;}
.hide-footer .footer .arrow-down{ display: none;}
.hide-footer .footer .toolbar-md{ min-height: 26px;}
.hide-footer .scroll-content {
    margin-bottom: 20px !important;
}

page-tabs .custome-list.troubleshoot3-space li {
    padding: 10px 10px !important;
}
ion-header ion-navbar.toolbar{    min-height: 46px !important;}
ion-footer .toolbar {
    min-height: 24px !important;
}

.banner-image img{ width: 60%;}

.tab-section-parent{position: relative;}
.tab-section{
      background: #000;
      left: 0;
top: 0;
position: absolute;
z-index: 10;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
width: 100%;
    min-height: 40px;
}
.tab-section .button {
    color: #fff;
    border-bottom: 2px solid #000;
    max-width: 240px;
font-size: 10px;
padding: 0 2px;

min-height: 41px;

margin: 0;
text-align: center;
border-radius: 0;
position: relative;
z-index: 0;
display: -webkit-box;
display: -webkit-flex;
display: -ms-flexbox;
display: flex;
overflow: hidden;
-webkit-box-flex: 1;
-webkit-flex: 1;
-ms-flex: 1;
flex: 1;
-webkit-box-orient: vertical;
-webkit-box-direction: normal;
-webkit-flex-direction: column;
-ms-flex-direction: column;
flex-direction: column;
-webkit-box-align: center;
-webkit-align-items: center;
-ms-flex-align: center;
align-items: center;
-webkit-align-self: center;
-ms-flex-item-align: center;
align-self: center;
-webkit-box-pack: center;
-webkit-justify-content: center;
-ms-flex-pack: center;
justify-content: center;
border: 0;
text-decoration: none;
background: none;
cursor: pointer;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;

}

.tab-button-text {
    margin: 2px 0;
    font-size: 1.4rem;
    line-height: 1.1;
        min-height: 11px;
            display: block;
}
.tab-section .button.active{
    color: #ffb834;
    text-decoration: none;
    border-bottom: 2px solid #ffb834;
}



.toolbar-content { display: inherit;}
.toolbar-content .button{background: none;
    margin: 0;
    height: auto;
    box-shadow: none;
  }

page-download .custome-list, page-troubleshoot .custome-list, page-troubleshoot-2 .custome-list, page-troubleshoot-3 .custome-list {
        background: #f7f7f7;
        padding: 0px;
        margin: 0px;
        list-style: none;
    }
page-download .custome-list li, page-troubleshoot .custome-list li, page-troubleshoot-2 .custome-list li, page-troubleshoot-3 .custome-list li {
        padding: 10px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        border-bottom: 1px solid #ededed;
        -ms-flex-align: center;
        -webkit-align-items: center;
        -webkit-box-align: center;
        align-items: center;
        font-size: 15px;
    }
page-download .img-circle, page-troubleshoot .img-circle, page-troubleshoot-2 .img-circle, page-troubleshoot-3 .img-circle {
        border: 1px solid #000;
        border-radius: 250px;
        margin-right: 10px;
    }
.banner-parent, .banner-parent .col{padding: 0 5px;}
.change-model {
    padding: 5px 10px 0 0;
}
page-download .custome-list.sub-tabs, page-troubleshoot .custome-list.sub-tabs{ margin-top: -10px;}
page-troubleshoot-2 .custome-list.sub-tabs{ margin-top: 30px;}
page-troubleshoot-3 .custome-list.sub-tabs{ margin-top: 10px;}
page-download p{ margin-top: 10px;}
.downloadForm ion-list{ margin-bottom: 0 !important;}
page-download .agreeTC ion-label{ margin: 0; padding: 0;}
.faqs-container {
  /* margin-top: 25px !important; */
  margin-top: 15px !important;
}

/* page-download .img-circle, page-troubleshoot .img-circle, page-troubleshoot-2 .img-circle, page-troubleshoot-3 .img-circle {width: 40px; height: 40px;} */
page-download .img-circle, page-troubleshoot .img-circle, page-troubleshoot-2 .img-circle, page-troubleshoot-3 .img-circle{
  width: 45px;
  height: 45px;
}

#sucessMessage{
  /* margin-bottom: 0; */
  font-weight: 500;
}

.ios ion-nav > .ion-page > ion-header > .toolbar.statusbar-padding:first-child ion-title{
  height: calc(40px) !important;
  min-height: calc(40px) !important;
}


.custome-list.download-space li.active {
    background: #fff;
    position: relative;
    border: none;
    padding-left: 15px;
}
.custome-list.download-space li:nth-child(2)::before, .custome-list.troubleshoot3-space li:nth-child(1)::before, .custome-list.download-space li.active::before, page-troubleshoot-2 .custome-list li.active::before{
    content: '';
    position: absolute;
    left: 5.5%;
    bottom: -8px;
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-top: 15px solid #fff;
}

page-download .custome-list li, page-troubleshoot .custome-list li, page-troubleshoot-2 .custome-list li, page-troubleshoot-3 .custome-list li
{ padding: 7px 10px;}
.manual-quick{margin-top: 0 !important;}

page-troubleshoot-2 .custome-list li.active{
  background: #fff;
    position: relative;
    border: none;
}
page-troubleshoot-3 .custome-list li {
   padding: 12px 10px;
}

.driver-title{font-weight: bold;}

.choosePrinter{ max-width: 100%;}
.register-form ion-select{max-width: 100%;}
.choosePrinter .select-icon{display: none;}
.register-form .custom-form-control, .register-form .custom-form-select-control{border: 1px solid #868686;}

.from-group.has-danger .custom-form-control, .from-group.has-danger .custom-form-select-control{border: 1px solid #E91E63;}

.surveyOverley{padding-bottom: 10px !important;}

.serial_satrtJ{
    background: inherit;
    border: none;
    width: 20px;
    color: #F44336;
    position: absolute;
    height: 30px;
    box-shadow: none;
    padding: 0;
    margin-top: 2px;
    margin-left: 5px;
}
#serialNumber{    padding-left: 24px;}
.serial_satrtJ:focus {
    outline: 0;
    -webkit-box-shadow: none !important;
    -box-shadow: none !important;
    border: none !important;
  }

.downloadForm span{
  /* padding-left: 4px; */
}
page-download .custome-list li.row{border-bottom: none; padding-bottom: 0;}
.downloadForm .form-control{border: 1px solid #868686;}


/* Style the list */
ul.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    background-color: #eee;
    margin: 0;
    margin-bottom: -4px;
    line-height: 24px;
}

ul.breadcrumb li {
    display: inline;
    font-size: small;
}
ul.breadcrumb li+li:before {
    /* padding: 8px; */
    color: black;
    content: "/\00a0";
}
ul.breadcrumb li a {
    color: #000;
    text-decoration: none;
}

page-download .custome-list.download-space li, page-troubleshoot .custome-list.troubleshoot-space li{ position: relative;}
page-download .custome-list.download-space li::after, page-troubleshoot .custome-list.troubleshoot-space li::after{
    content: ' + ';
    position: absolute;
    right: 2.5%;
    bottom: 24%;
    /* font-size: x-large; */
    font-size: 2.5rem;
    color: green;
  }
.custome-list.download-space li.active::after, page-troubleshoot-2 .custome-list li.active::after{
    content: ' - ';
    position: absolute;
    right: 4%;
    /* bottom: 20%;
    font-size: 40px; */
    bottom: 8%;
    font-size: 4.5rem;
    color: red;
  }
page-download .custome-list.sub-tabs li{ padding: 0px 10px !important; line-height: 45px;}
.m-bottom-0{margin-bottom: 0 !important;}
ul.breadcrumb{
        width: 100%;
        /* padding: 0; */
        padding: 0 10px;
  }
.quick_craft_Guide .img-circle {
    background: url(../../assets/icon/setUp-icon.jpg) no-repeat center;
    background-size: 65%;
  }
.breadcrumb_base {position: fixed; bottom: 30px;
  /* padding: 0 10px; */
  padding: 0;
}

.scroll-content {
    margin-bottom: 35px !important;
    /* margin-bottom: 5px !important; */
}

.hide-footer .scroll-content {
    margin-bottom: 10px !important;
}

page-vchat .faqs-container{
    line-height: 25px;
    font-size: 18px;
    margin-top: 50px !important;
}
page-troubleshoot-3 .faqs-container{
    line-height: 25px;
    font-size: 17px;
    margin-top: 15px !important;
    padding: 0;
}

.scroll-content{padding-bottom: 30% !important;}
.hide-footer .scroll-content{padding-bottom: 1% !important;}

.breadcrumb_base{bottom: 100px;}
.hide-footer .breadcrumb_base {bottom: 30px;}

.supportPopup ion-icon{font-size: 5em;}
.callPopup ion-icon{font-size: 4em;}
.supportPopup a{font-size: initial;}
.callPopup p{font-size: 16px;}

.platform-android form.register-form{overflow-y: scroll;}

.faqs-container{ margin-bottom: 40px;}
.faqs-container a{display: none;}

.breadcrumb_base {
    bottom: 115px;
}

.faqs-container .row div{width: 100% !important;}
.faqs-container .row a{display: none !important;}



.hide-footer page-download .scroll-content .downloadForm {
    /* padding-bottom: 10% !important; */
}

.downloadForm .termsTxt{
    font-size: 13px;
}
#sucessMessage{display: none;}

.breadcrumb_base {
    position: static !important;
    margin-top: 10%;
}

ul.breadcrumb li+li:before {
    content: "\279C" !important;
    /* content: "-\003E" !important; */
    font-size: 15px;
}
.faqs-container .container{
    margin-top: 10%;
}
.faqs-container .breadcrumb_base {
    margin-top: 5% !important;
}
.downloadForm .breadcrumb_base {
    margin-top: -1% !important;
    margin-bottom: 10%;
}


.videoList h4{color: #000; margin-top: 10px;}
page-videos .breadcrumb_base{ margin-top: 0 !important;}
page-videos .breadcrumb{margin-bottom: 2px !important; padding: 0 7px !important;}

page-videos .videoList .item-inner{border-bottom: 0 !important;}
page-videos .videoList .input-wrapper{ border-bottom: 1px solid #dedede;}
