<ion-header>
  <ion-navbar>
    <button *ngIf="menuBackBtn" ion-button icon-only (click)="pushBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title>
      <a class="logo-container" href="#"><img class="logo-img" src="assets/imgs/kodak-logo.png" alt="kodak-logo"></a>
      <ul class="heder-menu">
            <li>
              <ion-label hidden>Language</ion-label>
                <span class="country-flag {{countryClass}}"></span>
                <ion-select [selectOptions]="selectOptions" [(ngModel)]="countryName" (ionChange)="setLang($event)" style=" max-width: unset; padding: 0;">
                    <ion-option *ngFor="let lg of langList " value="{{ lg.lgID }}" [selected]="lang == lg.lgID">{{ lg.lgName }}</ion-option>
                  </ion-select>
            </li>
            <li>
              <a class="top-register-link" (click)="pushRegister()">Register</a>
            </li>
          </ul>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
<ion-grid class="banner-parent">
  <ion-row>
      <ion-col col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
        <div class="banner-image" *ngFor="let p of bannerPics">
          <a class="change-model" (click)="pushHome()">Change Model </a>
            <img width="100%"  src="http://124.30.44.230/funaihelpver1/{{ p.modelPic}}" class="img-responsive" alt=""/>
          </div>
      </ion-col>
  </ion-row>
</ion-grid>

<ion-grid class="tab-section-parent">
  <div class="tab-section">
     <a class="button" role="tab">
      <span class="tab-button-text" (click)="gotoDownld()">Downloads</span>
    </a>
    <a class="button active" (click)="gotoTrob()" role="tab">
     <span class="tab-button-text">Troubleshooting</span>
   </a>
  </div>
</ion-grid>

<ion-grid>
  <ion-col class="breadcrumb_base">
    <ul class="list-unstyled breadcrumb">
      <!-- <li><a href="#" (click)="pushHome()">Home</a></li>
      <li><a href="#" (click)="pushCategory()">Category</a></li> -->
      <li>{{parent_Title2}}</li>
      <!-- <li *ngIf="productLevel2List">{{new_title}} productLevel2List</li> -->

      <!-- <li *ngIf="productLevel3List"><a href="#" (click)="pushBack()">{{new_title}}</a></li> -->

      <li *ngIf="productLevel4List">{{new_title}}</li>
      <!-- <li *ngIf="productLevel4List">{{title_3}}</li> -->
      <!-- <li>T3</li> -->
    </ul>
  </ion-col>
<div  *ngIf="productLevel3List">
  <ul class="custome-list sub-tabs troubleshoot3-space">
        <!-- <a class="go-back" (click)="pushBack()"><img class="" width="20" src="assets/imgs/back-tab.jpg" alt="kodak-logo"></a> -->
    <li>
      {{new_title}}
    </li>
    <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
    <li col *ngFor="let p of productLevel2List ; index as i" (click)="level_id4(p.title, p.New_id3); productLevel3List = false;">
      <a>{{ p.title }}</a>
    </li>
  </ul>
</div>

<div class="clearfix"></div>


<div *ngIf="productLevel4List">

  <ul class="custome-list sub-tabs sub_level_4 troubleshoot3-space">
    <!-- <li><div class="img-circle"></div>{{parent_Title2}}</li> -->
    <li>{{title_3}}</li>
    <!-- <li *ngIf="backAllBtn || backAllBtnList_2"><button ion-item (click)="Printer = true; PrinterList_2 = false;  backAllBtn = true; " class="button button-clear  ion-arrow-left-c ">Back</button></li> -->
    <li col *ngIf="faqstatus == 1" (click)="levelTo5()">
      <div class="img-circle faqstatus"></div>
      <a>FAQs</a>
    </li>
    <li col *ngIf="videostatus == 1" (click)="levelToVideos()">
      <div class="img-circle videostatus"></div>
      <a>Video</a>
    </li>
    <!-- <li col *ngIf="vchatstatus == 1" (click)="levelToVchat()">
      <div class="img-circle vchatstatus"></div>
      <a>CALL</a>
    </li> -->
    <li col *ngIf="vchatstatus == 1" (click)="callPopup = false; levelValue = 'call';">
      <div class="img-circle vchatstatus"></div>
      <a>CALL</a>
    </li>
    <li col *ngIf="driverstatus == 1" (click)="gotoDownld();">
      <div class="img-circle driverstatus"></div>
      <a>DRIVERS & SOFTWARE</a>
    </li>
    <li col *ngIf="achatstatus == 1" (click)="supportPopup = false; levelValue = 'assistchat';">
      <div class="img-circle achatstatus"></div>
      <a>ASSISTED CHAT</a>
    </li>
  </ul>
</div>
</ion-grid>


<div class="my-overlay callPopup" padding [hidden]="callPopup">
<div class="overlay-container">
  <div class="overlay-header text-center">Call</div>
  <div class="overlay-inner text-center">
    <ion-icon name="call"></ion-icon>
    <div class="faqs-container text-center">
        <p>
          <strong>Toll Free Number</strong>
          <br />
          <a href="tel:1-844-995-6325">1-844-995-6325</a>
        </p>
        <p>
          <strong>Hours of Operations</strong>
          <br />
          Monday - Sunday 9:00am - 11:00pm E.S.T.
        </p>
    </div>
  </div>
  <a href="javascript:;" class="closePopUpBtn" (click)="openSurvey();">X</a>
</div>
</div>

<div class="my-overlay supportPopup" padding [hidden]="supportPopup">
<div class="overlay-container">
  <div class="overlay-header text-center">Support</div>
  <div class="overlay-inner text-center">
    <ion-icon name="chatboxes"></ion-icon>
    <!-- <ion-icon ios="ios-headset" md="md-headset"></ion-icon> -->
      <div class="alert">
        <a href="http://c.velaro.com/visitor/requestchat.aspx?siteid=13851&amp;showwhen=inqueue&amp;deptid=28885" onclick="this.newWindow = window.open('http://c.velaro.com/visitor/requestchat.aspx?siteid=13851&amp;showwhen=inqueue&amp;deptid=28885', 'LiveChatSoftware', 'toolbar=no,location=no,directories=no,menubar=no,status=no,scrollbars=no,resizable=yes,replace=no');this.newWindow.focus();this.newWindow.opener=window;return false;" target="_blank">Live Chat Software</a>
      </div>
  </div>
  <a href="javascript:;" class="closePopUpBtn" (click)="openSurvey();">X</a>
</div>
</div>


<div class="my-overlay" padding [hidden]="thankYouMsgHidden || hidePopup">
<div class="overlay-container">
  <div class="overlay-header">Kodak Printer Service</div>
  <div class="overlay-inner">
      <div class="alert alert-success">Thank you for your feedback.</div>
  </div>
  <a href="javascript:;" class="closePopUpBtn" (click)="closePopUp()">X</a>
</div>
</div>

<div class="my-overlay" padding [hidden]="feedbackoverlayHidden || hidePopup">
  <div class="overlay-container">
      <div class="overlay-header">Kodak Printer Service</div>
      <div class="overlay-inner">
      <div class="issue-resolved-container">
          <p>Your feedback is valuable to us and helps us to serve you better in future</p>
          <h2>Was your issue resolved? Please click Yes / No</h2>
          <button full (click)="feedbackFormOpen('No')" class="thankYouBtn">No</button>
          <button full (click)="yesThankYou('Yes')" class="thankYouBtn">Yes</button>
      </div>
      </div>
  </div>
</div>
<div class="my-overlay" padding [hidden]="feedbackFormoverlayHidden || hidePopup">
  <div class="overlay-container">
    <div class="overlay-header">Kodak Printer Service</div>
    <div class="overlay-inner surveyOverley">
      <div class="feedback-container">
            <h4>Please tell us why?</h4>
            <form class="feedbackForm" #f="ngForm" (ngSubmit)="putSurvey()">
                <div class="row">
                    <div class="col-xs-12">
                        <label class="radio">I preesed 'No' accidentally
                            <input type="radio" value="1" name="survey" [(ngModel)]="mySurvey">
                            <span class="checkround"></span>
                        </label>
                        <label class="radio">This was not my issue type, I want try quick self-help agin
                            <input type="radio" value="2" name="survey" [(ngModel)]="mySurvey">
                            <span class="checkround"></span>
                        </label>
                        <label class="radio">I want to chat with customer service
                            <input type="radio" value="3" name="survey" [(ngModel)]="mySurvey" >
                            <span class="checkround"></span>
                        </label>
                        <div class="subRadiogroup" *ngIf="mySurvey === '3'">
                            <label class="radio">FAQs
                                <input type="radio" value="faqs" name="surveyChildOne" [(ngModel)]="mySurveyChildOne">
                                <span class="checkround"></span>
                            </label>
                            <label class="radio">Videos
                                <input type="radio" value="play" name="surveyChildOne" [(ngModel)]="mySurveyChildOne" (click)="show=!show">
                                <span class="checkround"></span>
                            </label>
                            <label class="radio">Downloads
                                <input type="radio" value="downloads" name="surveyChildOne" [(ngModel)]="mySurveyChildOne" (click)="show=!show">
                                <span class="checkround"></span>
                            </label>
                            <label class="radio">Virtual Chat
                                <input type="radio" value="virtualChat" name="surveyChildOne" [(ngModel)]="mySurveyChildOne" (click)="show=!show">
                                <span class="checkround"></span>
                            </label>
                            <div class="alert alert-warning">
                                Please tell us which above solution you opted did not work?
                            </div>

                            <div *ngIf="show">
                                <div class="container" [innerHTML]="productListing?.assisted_chat"></div>
                            </div>

                        </div>
                        <label class="radio">I want to talk to customer service
                                <input type="radio" value="4" name="survey" [(ngModel)]="mySurvey" >
                                <span class="checkround"></span>
                            </label>
                            <div class="subRadiogroup" *ngIf="mySurvey === '4'">
                                <label class="radio">FAQs
                                    <input type="radio" value="faqs" name="surveyChildOne" [(ngModel)]="mySurveyChildOne" (click)="show=!show">
                                    <span class="checkround"></span>
                              </label>
                                <label class="radio">Videos
                                    <input type="radio" value="play" name="surveyChildOne" [(ngModel)]="mySurveyChildOne" (click)="show=!show">
                                    <span class="checkround"></span>
                                </label>
                                <label class="radio">Downloads
                                    <input type="radio" value="downloads" name="surveyChildOne" [(ngModel)]="mySurveyChildOne" (click)="show=!show">
                                    <span class="checkround"></span>
                                </label>
                                <label class="radio">Virtual Chat
                                    <input type="radio" value="virtualChat" name="surveyChildOne" [(ngModel)]="mySurveyChildOne" (click)="show=!show">
                                    <span class="checkround"></span>
                                </label>
                                <div class="alert alert-warning">
                                    Please tell us which above solution you opted did not work?
                                </div>
                                <div *ngIf="show" class="callUs">
                                    <!-- <div class="container" [innerHTML]="productListing?.call_us"></div> -->
                                    Coming Soon call information...
                                </div>
                            </div>
                        <button full type="submit" class="thankYouBtn">Thank You</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>



<!-- <ion-grid class="breadcrumb_base">
  <ul class="breadcrumb">
    <li><a href="#" (click)="pushBack()">{{parent_Title2}}</a></li>
    <li *ngIf="productLevel4List">{{new_title}}</li>
  </ul>
</ion-grid> -->

<ion-grid class="breadcrumb_base hidden">
  <ul class="breadcrumb">
    <!-- <li><a href="#" (click)="pushHome()">Home</a></li>
    <li><a href="#" (click)="pushCategory()">Category</a></li> -->
    <li>{{parent_Title2}}</li>
    <!-- <li *ngIf="productLevel2List">{{new_title}} productLevel2List</li> -->

    <!-- <li *ngIf="productLevel3List"><a href="#" (click)="pushBack()">{{new_title}}</a></li> -->

    <li *ngIf="productLevel4List">{{new_title}}</li>
    <!-- <li *ngIf="productLevel4List">{{title_3}}</li> -->
  </ul>
</ion-grid>

</ion-content>
