<ion-footer position="bottom" class="footer home-footer hide-on-keyboard-open"  >

  <!-- <ion-toolbar no-border-top>
    <ion-segment>
      <ion-segment-button value="paid">
        Paid
      </ion-segment-button>
      <ion-segment-button value="free">
        Free
      </ion-segment-button>
      <ion-segment-button value="top">
        Top
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar> -->

<!-- [hidden]="keyboard.isOpen()"> -->
    <ion-toolbar>
        <ion-grid>
            <!-- <ion-row>
              <ul class="breadcrumb">
                <li><a href="#" (click)="pushHome()">Home</a></li>
                <li><a href="#" (click)="pushCategory()">Category</a></li>
                <li *ngIf="downloadDriver"><a href="#" (click)="downloadDriver = false; Firmware = false; Drivers = true; backAllBtn = true; downloadForm = false;  agreeTC = false;">Drivers</a></li>
                <li *ngIf="downloadFirmware"><a href="#" (click)="downloadFirmware = false; Firmware = true; Drivers = false; backAllBtn = true; downloadForm = false;  agreeTC = false;">Firmwares</a></li>
              </ul>
            </ion-row> -->
            <ion-row class="trade-mark-footer">
                <ion-col class="col-ios-8" col-7 col-xs-7 col-sm-8 col-md-8 col-lg-8 col-xl-8>
                    <div class="trade-mark-img">
                        <img width="95" src="assets/imgs/kodak-footer.png" />
                    </div>
                    <div class="trade-mark-txt">The Kodak trademark and trade dress are used under license from Eastman Kodak</div>
                </ion-col>
                <ion-col class="col-ios-4" col-4 col-xs-4 col-sm-4 col-md-4 col-lg-4 col-xl-4 >
                    <div class="pull-right">
                        <div class="toll-txt">Toll Free Number : </div>
                        <div class="toll-no">1-844-995-6325</div>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row class="hours-txt-footer">
                    <ion-col  col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12>
                        <span class="hours-oper-txt">Hours of Operations :</span>
                        <span class="hours-txt">Monday - Sunday, 9:00am - 11:00pm E.S.T</span>
                        <ion-icon name="arrow-dropup" class="pull-right arrow-up" (click)="footerHide()"></ion-icon>
                        <ion-icon name="arrow-dropdown" class="pull-right arrow-down" (click)="footerShow()"></ion-icon>
                    </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>
