.home {
    background : color($colors,primary);
    color:color($colors,light);
    margin-top:30px;

}

.toolbar-title{
    text-align: center;
}

.tabs-md .tab-button-icon {
color : #ccc;
}
.temp {
    font-size:90px;
    text-align: center;
    font-weight: normal;
}

.location {
    text-align: center;
}
.icon , .desc {
    text-align: center;
}

.icon img {
    width:100px;
}

.location {
    font-sze:40px
}

.desc {
    font-size: 30px;
}





.spotLight-img {
    height: auto;
    img {
        width: 100%;
    }
}
.title > h1 {
    position: relative;
    background: #000000;
    text-transform: uppercase;
    text-align: center;
    color: #fbba30;
    border-top: 5px solid #fbba30;
    margin: -4px 0 0 0;
    padding: 10px 0;
    font-size: 18px;
    &:after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        background: url("../assets/imgs/title-bottom-border.png") no-repeat left top;
        background-size: contain;
        height: 100%;
        width: 85%;
    }
}
.form-top-txt {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    align-items: center;
    border-bottom: 1px solid #fbba30;
    h3 {
        font-size: 14px;
        color: #fbba30;
        text-transform: uppercase;
        padding: 0;
        margin: 0;
        @media screen and (max-width:480px){
            font-size: 12px;
        }
    }
    a {
        color: #000000;
        text-decoration: underline;
        font-size: 12px;
        @media screen and (max-width:480px){
            font-size: 10px;
        }
    }
}
.register-form {
    margin: 15px 0;
    .form-feild {
        color: #000000;
        text-transform: uppercase;
        font-size: 14px;
        @media screen and (max-width:480px){
            font-size: 12px;
        }
        sup {
            font-size: 10px;
            color: #a02d4e;
        }
    }
    .custom-form-control {
        background: #f4f4f4;
        border: 1px solid #ececec;
        border-radius: 0;
        box-shadow: none;
        padding: 6px;
    }
    .custom-form-select-control {
        background: url("../assets/imgs/select-arrow.png") right 5px center no-repeat #f4f4f4;
        background-size: 18px 10px;
        border: 1px solid #ececec;
        border-radius: 0;
        box-shadow: none;
        padding: 6px;
        -webkit-appearance: none;
        -moz-appearance: none;
        padding-right: 28px;
    }
    .col-xs-12 {
        margin-bottom: 15px;
    }
    p {
        text-align: center;
        font-size: 14px;
        border-bottom: 1px solid #000;
        padding-bottom: 15px;
        margin: 0;
        @media screen and (max-width:480px){
            font-size: 12px;
        }
        a {
            color: #3333ff;
        }
    }
    .from-group ~ a {
        font-size: 14px;
        color: #3333ff;
        text-decoration: underline;
        @media screen and (max-width:480px){
            font-size: 12px;
        }
    }
    .registerBtn {
        background: #ffb834;
        color: #000;
        font-size: 18px;
        padding: 12px 30px;
        border-radius: 2px;
        @media screen and (max-width:480px){
            font-size: 14px;
        }
    }
    .form-control-feedback {
        position: static; width: 100%;
        line-height: normal; height: auto;
        p {
            border-bottom: 0;
            text-align: left;
            margin-top: 5px;
            color: red;
            padding-bottom: 0;
            -webkit-animation: goToTop 0.3s;
            animation: goToTop 0.3s;
            position :relative;
        }
        @-webkit-keyframes goToTop {

            0% {
                opacity: 0; top: 8px;
            }
            30% {
                opacity: .3; top: 5px;
            }
            100% {
                opacity: 1; top: 3px;
            }
        }
        @-moz-keyframes goToTop {
            0% {
                opacity: 0; top: 8px;
            }
            30% {
                opacity: .3; top: 5px;
            }
            100% {
                opacity: 1; top: 3px;
            }
        }
        @-o-keyframes goToTop {
            0% {
                opacity: 0; top: 8px;
            }
            30% {
                opacity: .3; top: 5px;
            }
            100% {
                opacity: 1; top: 3px;
            }
        }
        @keyframes goToTop {
            0% {
                opacity: 0; top: 8px;
            }
            30% {
                opacity: .3; top: 5px;
            }
            100% {
                opacity: 1; top: 3px;
            }
        }
    }
    .emailAddressValid {
        width: 100%;
    }
}

.header {
  .toolbar-background-md, .toolbar-background-ios{
      background: #fab834;
    }
}

button ion-label{
  color: black !important;
  font-size: inherit !important;
  font-weight: inherit !important;
  padding: inherit !important;
}

page-home .grid .row{ margin: 0 !important; }
.toolbar-title-md, ion-title{ padding: inherit !important; }
.logo-container { float: left;}
  .logo-img{ max-width: 78%; float: left;}

  ion-navbar.toolbar button{color: inherit !important;}
  ion-title{position: static !important;}

  ul.custome-list.sub-tabs a{color: inherit !important;}

.scroll-content { padding-bottom: 0!important; }
.input-cover {
  position: static;
}
