.faqs-container {
  margin-top: 50px;
    padding: 0 20px;
    h1,h2 { font-size: 20px; color: #000; }
    hr { margin: 10px 0; }
    .question { color: #000; font-size: 18px; }
    .answer { color: #000; font-size: 15px; }
    .nesting {
        ul { padding: 0; margin: 0 0 0 25px;
            li a {
                color: #000; font-size: 15px;
            }
        }
    }
    div{

    }
}

.closePopUpBtn { position: absolute; top: -15px; right: -9px; font-size: 13px; color: #fff; font-weight: 700; background: #ffb834; padding: 0px 5px; border-radius: 100%; border: 1px solid #fff; }
.alert-success { margin-bottom: 0 !important; }
.callUs { color: #337ab7; font-weight: bold; margin-bottom: 20px; }
