page-category-selection {
  .title > h1 {
      border-top: 10px solid #fff;
      text-transform: none;
      font-weight: 300;
      font-size: 16px;
      padding: 14px 0;
        &:after{ display: none;}
    }
    .tab-content>.active{opacity: 1 !important;}

  .col{
      h2{
          margin: 0;
          font-weight: 400;
          font-size: 18px;
          margin-bottom: 5px;
          color: #ffb834;
      }
      p{font-size: 13px;}
  }
  .container {
    .grid {
     
   
      background: #f7f7f7;
      border-bottom: #e6e6e6 solid 1px;
    }
  }
  .catbox-bg{
    background: #f7f7f7;
    // height: -webkit-fill-available;
  }

}
